In [1]:
import pandas as pd
df=pd.read_csv("survey_results_public.csv")
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [3]:
df.shape

(88883, 85)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              88883 non-null  int64
 1   MainBranch              88331 non-null  object
 2   Hobbyist                88883 non-null  object
 3   OpenSourcer             88883 non-null  object
 4   OpenSource              86842 non-null  object
 5   Employment              87181 non-null  object
 6   Country                 88751 non-null  object
 7   Student                 87014 non-null  object
 8   EdLevel                 86390 non-null  object
 9   UndergradMajor          75614 non-null  object
 10  EduOther                84260 non-null  object
 11  OrgSize                 71791 non-null  object
 12  DevType                 81335 non-null  object
 13  YearsCode               87938 non-null  object
 14  Age1stCode              87634 non-null  object
 15  YearsCodePro            74331 non-null  object
 16  CareerSat               72847 non-null  object
 17  JobSat                  70988 non-null  object
 18  MgrIdiot                61159 non-null  object
 19  MgrMoney                61157 non-null  object
 20  MgrWant                 61232 non-null  object
 21  JobSeek                 80555 non-null  object
 22  LastHireDate            79854 non-null  object
 23  LastInt                 67155 non-null  object
 24  FizzBuzz                71344 non-null  object
 25  JobFactors              79371 non-null  object
 26  ResumeUpdate            77877 non-null  object
 27  CurrencySymbol          71392 non-null  object
 28  CurrencyDesc            71392 non-null  object
 29  CompTotal               55945 non-null  float64
 30  CompFreq                63268 non-null  object
 31  ConvertedComp           55823 non-null  float64
 32  WorkWeekHrs             64503 non-null  float64
 33  WorkPlan                68914 non-null  object
 34  WorkChallenge           68141 non-null  object
 35  WorkRemote              70284 non-null  object
 36  WorkLoc                 70055 non-null  object
 37  ImpSyn                  71779 non-null  object
 38  CodeRev                 70390 non-null  object
 39  CodeRevHrs              49790 non-null  float64
 40  UnitTests               62668 non-null  object
 41  PurchaseHow             61108 non-null  object
 42  PurchaseWhat            62029 non-null  object
 43  LanguageWorkedWith      87569 non-null  object
 44  LanguageDesireNextYear  84088 non-null  object
 45  DatabaseWorkedWith      76026 non-null  object
 46  DatabaseDesireNextYear  69147 non-null  object
 47  PlatformWorkedWith      80714 non-null  object
 48  PlatformDesireNextYear  77443 non-null  object
 49  WebFrameWorkedWith      65022 non-null  object
 50  WebFrameDesireNextYear  62944 non-null  object
 51  MiscTechWorkedWith      59586 non-null  object
 52  MiscTechDesireNextYear  64511 non-null  object
 53  DevEnviron              87317 non-null  object
 54  OpSys                   87851 non-null  object
 55  Containers              85366 non-null  object
 56  BlockchainOrg           48175 non-null  object
 57  BlockchainIs            60165 non-null  object
 58  BetterLife              86269 non-null  object
 59  ITperson                87141 non-null  object
 60  OffOn                   86663 non-null  object
 61  SocialMedia             84437 non-null  object
 62  Extraversion            87305 non-null  object
 63  ScreenName              80486 non-null  object
 64  SOVisit1st              83877 non-null  object
 65  SOVisitFreq             88263 non-null  object
 66  SOVisitTo               88086 non-null  object
 67  SOFindAnswer            87816 non-null  object
 68  SOTimeSaved             86344 non-null  object
 69  SOHowMuchTime           68378 non-null  object
 70  SOAccount               87828 non-null  object
 71  SOPartFreq              74692 non-null  object
 72  SOJobs                  88066 non-null  object
 73  EntTeams                87841 non-null  object
 74  SOComm                  88131 non-null  object
 75  WelcomeChange           85855 non-null  object
 76  SONewContent            69560 non-null  object
 77  Age                     79210 non-null  float64
 78  Gender                  85406 non-null  object
 79  Trans                   83607 non-null  object
 80  Sexuality               76147 non-null  object
 81  Ethnicity               76668 non-null  object
 82  Dependents              83059 non-null  object
 83  SurveyLength            86984 non-null  object
 84  SurveyEase              87081 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 57.6+ MB

In [5]:
df.head(10)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
6,7,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,A lot more welcome now than last year,NaN,42.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
7,8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
8,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult

In [6]:
df.tail(10)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
88873,88062,NaN,No,Never,"OSS is, on average, of LOWER quality than prop...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88874,88076,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88875,88182,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Pakistan,NaN,"Secondary school (e.g. American high school, G...",NaN,...,Not applicable - I did not use Stack Overflow ...,Courses on technologies you're interested in,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too short,Neither easy nor difficult
88876,88212,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Spain,No,"Secondary school (e.g. American high school, G...",NaN,...,NaN,Tech articles written by other developers;Indu...,40.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88877,88282,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,NaN,No,Too short,Neither easy nor difficult
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [7]:
df.iloc[0]

Respondent                                                      1
MainBranch                 I am a student who is learning to code
Hobbyist                                                      Yes
OpenSourcer                                                 Never
OpenSource      The quality of OSS and closed source software ...
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                                                     NaN
Dependents                                                     No
SurveyLength                                Appropriate in length
SurveyEase                             Neither easy nor difficult
Name: 0, Length: 85, dtype: object

In [8]:
df.iloc[[0,1],2]

0    Yes
1     No
Name: Hobbyist, dtype: object

In [14]:
df.iloc[0:3]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult

In [13]:
df.iloc[0:3,0:2]

   Respondent                                         MainBranch
0           1             I am a student who is learning to code
1           2             I am a student who is learning to code
2           3  I am not primarily a developer, but I write co...

In [15]:
df.iloc[5:9,6:10]

,Country,Student,EdLevel,UndergradMajor
5,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics
6,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele..."
7,India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof..."
8,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof..."

In [16]:
df.iloc[10:20,20:30]

,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,I am not interested in new job opportunities,Less than a year ago,NaN,NaN,Financial performance or funding status of the...,"My job status changed (promotion, new job, etc.)",NaN,NaN,NaN
12,NaN,I am not interested in new job opportunities,3-4 years ago,Complete a take-home project;Interview with pe...,Yes,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,90000.0
13,No,I am not interested in new job opportunities,1-2 years ago,Interview with people in senior / management r...,No,"Languages, frameworks, and other technologies ...","Something else changed (education, award, medi...",EUR,European Euro,4150.0
14,NaN,"I’m not actively looking, but I am open to new...",I've never had a job,NaN,NaN,"Industry that I'd be working in;Languages, fra...","Something else changed (education, award, medi...",NaN,NaN,NaN
15,No,"I’m not actively looking, but I am open to new...",3-4 years ago,Interview with people in senior / management r...,Yes,"Languages, frameworks, and other technologies ...",I heard about a job opportunity (from a recrui...,GBP,Pound sterling,29000.0
16,No,I am actively looking for a job,Less than a year ago,Complete a take-home project;Interview with pe...,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,AUD,Australian dollar,90000.0
17,Yes,"I’m not actively looking, but I am open to new...",3-4 years ago,Complete a take-home project;Interview with pe...,No,Financial performance or funding status of the...,"My job status changed (promotion, new job, etc.)",RUB,Russian ruble,120000.0
18,No,"I’m not actively looking, but I am open to new...",Less than a year ago,Interview with people in senior / management r...,No,"Languages, frameworks, and other technologies ...","My job status changed (promotion, new job, etc.)",BRL,Brazilian real,9500.0
19,I am already a manager,"I’m not actively looking, but I am open to new...",More than 4 years ago,Interview with people in peer roles;Interview ...,No,Remote work options;How widely used or impactf...,"My job status changed (promotion, new job, etc.)",EUR,European Euro,3000.0

In [18]:
pd.set_option('display.max_columns',5)
pd.set_option('display.max_rows',10)
df

,Respondent,MainBranch,...,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,...,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,...,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",...,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,...,Appropriate in length,Easy
4,5,I am a developer by profession,...,Appropriate in length,Easy
...,...,...,...,...,...
88878,88377,NaN,...,Appropriate in length,Easy
88879,88601,NaN,...,NaN,NaN
88880,88802,NaN,...,NaN,NaN
88881,88816,NaN,...,NaN,NaN
88882,88863,NaN,...,Appropriate in length,Easy

In [19]:
df.loc[0:3,"MainBranch":"SurveyEase"]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
0,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult
1,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
2,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
3,I am a developer by profession,No,...,Appropriate in length,Easy

In [21]:
df.loc[0:9,"MgrWant":"CompTotal"]

,MgrWant,JobSeek,...,CurrencyDesc,CompTotal
0,NaN,NaN,...,NaN,NaN
1,NaN,I am actively looking for a job,...,NaN,NaN
2,Not sure,"I’m not actively looking, but I am open to new...",...,Thai baht,23000.0
3,Not sure,I am not interested in new job opportunities,...,United States dollar,61000.0
4,No,I am not interested in new job opportunities,...,Ukrainian hryvnia,NaN
5,Yes,I am not interested in new job opportunities,...,Canadian dollar,40000.0
6,NaN,"I’m not actively looking, but I am open to new...",...,United States dollar,NaN
7,NaN,NaN,...,NaN,NaN
8,Not sure,"I’m not actively looking, but I am open to new...",...,New Zealand dollar,138000.0
9,Yes,"I’m not actively looking, but I am open to new...",...,Indian rupee,950000.0

In [22]:
df.set_index('Respondent',inplace=True)

In [23]:
df.sort_index(ascending=False)

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
88883,I am a developer by profession,Yes,...,Too short,Easy
88882,I am a developer by profession,Yes,...,Too long,Easy
88881,I am a developer by profession,Yes,...,Appropriate in length,Easy
88880,"I am not primarily a developer, but I write co...",Yes,...,NaN,NaN
88879,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
5,I am a developer by profession,Yes,...,Appropriate in length,Easy
4,I am a developer by profession,No,...,Appropriate in length,Easy
3,"I am not primarily a developer, but I write co...",Yes,...,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,...,Appropriate in length,Neither easy nor difficult
1,I am a student who is learning to code,Yes,...,Appropriate in length,Neither easy nor difficult

In [25]:
schema_df=pd.read_csv("survey_results_schema.csv",index_col="Column")
schema_df

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [29]:
schema_df.loc[["MainBranch","Hobbyist","FizzBuzz","MgrIdiot"],"QuestionText"]

Column
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
FizzBuzz      Have you ever been asked to solve FizzBuzz in ...
MgrIdiot      How confident are you that your manager knows ...
Name: QuestionText, dtype: object

In [38]:
filt=(df["Age"]>40)
df.loc[filt]

,MainBranch,Hobbyist,...,SurveyLength,SurveyEase
Respondent,,,,,
7,I am a developer by profession,No,...,Appropriate in length,Neither easy nor difficult
22,I am a developer by profession,Yes,...,Appropriate in length,Easy
38,I am a developer by profession,Yes,...,Appropriate in length,Neither easy nor difficult
39,I am a developer by profession,Yes,...,Appropriate in length,Easy
44,I am a developer by profession,Yes,...,Appropriate in length,Easy
...,...,...,...,...,...
82717,NaN,No,...,Appropriate in length,Neither easy nor difficult
83786,NaN,No,...,Too long,Neither easy nor difficult
85961,NaN,Yes,...,Appropriate in length,Difficult
86566,NaN,Yes,...,Appropriate in length,Easy
87352,NaN,Yes,...,NaN,NaN

In [41]:
df.loc[filt,["Age","Country","Student","LanguageWorkedWith"]]

,Age,Country,Student,LanguageWorkedWith
Respondent,,,,
7,42.0,Ukraine,No,HTML/CSS;JavaScript
22,47.0,United States,No,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...
38,44.0,Czech Republic,No,C#;HTML/CSS;JavaScript;SQL
39,42.0,United States,No,C#;JavaScript;SQL;TypeScript
44,43.0,Germany,No,Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...
...,...,...,...,...
82717,44.0,United States,No,NaN
83786,57.0,Germany,No,HTML/CSS;JavaScript;Kotlin;TypeScript
85961,45.0,United Kingdom,No,C;C++;Other(s):
86566,74.0,Switzerland,No,Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87352,59.0,Netherlands,No,C;C++;Java

In [46]:
# first method
filt=(df["Country"]=="India")|(["Country"]=="Canada")
df.loc[filt,["Age","Country","Student","LanguageWorkedWith"]]

,Age,Country,Student,LanguageWorkedWith
Respondent,,,,
8,24.0,India,NaN,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
10,NaN,India,No,C#;Go;JavaScript;Python;R;SQL
15,20.0,India,"Yes, full-time",Assembly;Bash/Shell/PowerShell;C;C++;HTML/CSS;...
50,23.0,India,No,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
65,21.0,India,No,Assembly;C;C++;C#;HTML/CSS;Java
...,...,...,...,...
77339,NaN,India,"Yes, full-time",Other(s):
79795,NaN,India,No,Bash/Shell/PowerShell;Python;SQL;VBA
83862,24.0,India,"Yes, full-time",Assembly;C;C++;HTML/CSS;Java;JavaScript;Object...
84299,NaN,India,"Yes, full-time",HTML/CSS;Java;JavaScript;Python;Swift;TypeScript
86012,24.0,India,No,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript

In [49]:
# second and sajilo method
countries=["India","United Kingdom","Canada","Thailand"]
filt=df["Country"].isin(countries)
df.loc[filt,["Age","Country","Student","LanguageWorkedWith"]]

,Age,Country,Student,LanguageWorkedWith
Respondent,,,,
1,14.0,United Kingdom,No,HTML/CSS;Java;JavaScript;Python
3,28.0,Thailand,No,HTML/CSS
6,28.0,Canada,No,Java;R;SQL
8,24.0,India,NaN,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
10,NaN,India,No,C#;Go;JavaScript;Python;R;SQL
...,...,...,...,...
84539,23.0,United Kingdom,"Yes, full-time",Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
85182,NaN,Canada,NaN,Dart
85961,45.0,United Kingdom,No,C;C++;Other(s):
86012,24.0,India,No,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript
88377,NaN,Canada,No,HTML/CSS;JavaScript;Other(s):

In [51]:
filt=df["Country"].isin(countries)&df["LanguageWorkedWith"].str.contains("Python")
df.loc[filt,["Age","Country","Student","LanguageWorkedWith"]]

,Age,Country,Student,LanguageWorkedWith
Respondent,,,,
1,14.0,United Kingdom,No,HTML/CSS;Java;JavaScript;Python
8,24.0,India,NaN,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
10,NaN,India,No,C#;Go;JavaScript;Python;R;SQL
12,21.0,Canada,"Yes, full-time",Bash/Shell/PowerShell;HTML/CSS;Java;Python;R;SQL
21,NaN,Canada,NaN,Assembly;Bash/Shell/PowerShell;C;C++;Go;Java;J...
...,...,...,...,...
79798,22.0,United Kingdom,"Yes, full-time",HTML/CSS;JavaScript;Python
82007,40.0,Canada,NaN,Assembly;Java;JavaScript;Objective-C;Python
82789,17.0,United Kingdom,No,Bash/Shell/PowerShell;C++;C#;HTML/CSS;Python;Ruby
84299,NaN,India,"Yes, full-time",HTML/CSS;Java;JavaScript;Python;Swift;TypeScript
84539,23.0,United Kingdom,"Yes, full-time",Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...