In [ ]:
# we use 'pandas' for overall data manupulartion in this session
# Pandas is a very famous python library for data analysis. We can efficiently manipulate,filter and create data using pandas
# Data frames are the 2 dimesional datastructure in pandas
# Data frames are the backbone of pandas

In [17]:
# Lets represent a two dimensional data structure using python dictionary:
people = {
    "name":["john","jane","ken","kevin"],
    "email":["john@gmail.com","jane@gmail.com","ken@gmail.com","kevin@gmail.com"],
    "address":["KTM","BKT","PKR","BUTWAL"]
}

In [18]:
import pandas as pd
df=pd.DataFrame(people)
df

    name            email address
0   john   john@gmail.com     KTM
1   jane   jane@gmail.com     BKT
2    ken    ken@gmail.com     PKR
3  kevin  kevin@gmail.com  BUTWAL

In [ ]:
# methods in dataframe

In [6]:
df.shape #(rows,column)

(4, 3)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4 non-null      object
 1   email    4 non-null      object
 2   address  4 non-null      object
dtypes: object(3)
memory usage: 228.0+ bytes

In [19]:
df.head(2)

   name           email address
0  john  john@gmail.com     KTM
1  jane  jane@gmail.com     BKT

In [20]:
df.tail(2)

    name            email address
2    ken    ken@gmail.com     PKR
3  kevin  kevin@gmail.com  BUTWAL

In [21]:
df['email']

0     john@gmail.com
1     jane@gmail.com
2      ken@gmail.com
3    kevin@gmail.com
Name: email, dtype: object

In [22]:
type(df['email'] )#series
     # series is aa single column of dataframe
     # DataFrame is a collection of such series

pandas.core.series.Series

In [23]:
# we can also access the column/series using a dot(.)operator
df.email
# But using '.' is not recomended because it may conflict with the dataframe methods /attributes

0     john@gmail.com
1     jane@gmail.com
2      ken@gmail.com
3    kevin@gmail.com
Name: email, dtype: object

In [27]:
r=df[["name","email"]]
print(r)
type(r)#dataframe

    name            email
0   john   john@gmail.com
1   jane   jane@gmail.com
2    ken    ken@gmail.com
3  kevin  kevin@gmail.com

pandas.core.frame.DataFrame

In [28]:
df.columns

Index(['name', 'email', 'address'], dtype='object')

In [29]:
df.iloc[0]#It gives the first row of the dataframe
# iloc stands for integer location
# We can give rows and columns in the iloc
# If we want to provide multiple rows and columns then they should be enclosed in [[]],double big bracket

name                 john
email      john@gmail.com
address               KTM
Name: 0, dtype: object

In [31]:
df.iloc[[0,1]]

   name           email address
0  john  john@gmail.com     KTM
1  jane  jane@gmail.com     BKT

In [32]:
df.iloc[0,1] #here 0 index is for row and 1 index is for column

'john@gmail.com'

In [33]:
df.iloc[[0,1],1]#here [0,1] are rows and 1 is for column

0    john@gmail.com
1    jane@gmail.com
Name: email, dtype: object

In [34]:
df.iloc[[0,1],[0,1]]#here [0,1] are rows and [0,1] is for column

   name           email
0  john  john@gmail.com
1  jane  jane@gmail.com

In [35]:
df.iloc[0:2,0:2]

   name           email
0  john  john@gmail.com
1  jane  jane@gmail.com

In [36]:
# we also have a 'loc' methid for a dataframe
df.loc[[0,1],["name","email"]]

   name           email
0  john  john@gmail.com
1  jane  jane@gmail.com

In [37]:
df.loc[0:3,"name":"address"]

    name            email address
0   john   john@gmail.com     KTM
1   jane   jane@gmail.com     BKT
2    ken    ken@gmail.com     PKR
3  kevin  kevin@gmail.com  BUTWAL

In [38]:
# we can also set the index of our rows
df.set_index("email")

                  name address
email
john@gmail.com    john     KTM
jane@gmail.com    jane     BKT
ken@gmail.com      ken     PKR
kevin@gmail.com  kevin  BUTWAL

In [39]:
df

    name            email address
0   john   john@gmail.com     KTM
1   jane   jane@gmail.com     BKT
2    ken    ken@gmail.com     PKR
3  kevin  kevin@gmail.com  BUTWAL

In [48]:
new_df=df.set_index("email")#yesari naya df banayera nih garna milxa
df.set_index('email',inplace=True)# this is used to set email as an index other can also be used as index like name,address

In [49]:
df

                  name address
email
john@gmail.com    john     KTM
jane@gmail.com    jane     BKT
ken@gmail.com      ken     PKR
kevin@gmail.com  kevin  BUTWAL

In [50]:
new_df

                  name address
email
john@gmail.com    john     KTM
jane@gmail.com    jane     BKT
ken@gmail.com      ken     PKR
kevin@gmail.com  kevin  BUTWAL

In [42]:
df.loc[["john@gmail.com","kevin@gmail.com"],["name","address"]]

                  name address
email
john@gmail.com    john     KTM
kevin@gmail.com  kevin  BUTWAL

In [45]:
df.iloc[[0,1],[0,1]]

                name address
email
john@gmail.com  john     KTM
jane@gmail.com  jane     BKT

In [46]:
df.reset_index(inplace=True) #this remove the custom indexing and reset to default

In [47]:
df

             email   name address
0   john@gmail.com   john     KTM
1   jane@gmail.com   jane     BKT
2    ken@gmail.com    ken     PKR
3  kevin@gmail.com  kevin  BUTWAL

In [51]:
df.sort_index()

                  name address
email
jane@gmail.com    jane     BKT
john@gmail.com    john     KTM
ken@gmail.com      ken     PKR
kevin@gmail.com  kevin  BUTWAL

In [52]:
df.sort_index(ascending=False)

                  name address
email
kevin@gmail.com  kevin  BUTWAL
ken@gmail.com      ken     PKR
john@gmail.com    john     KTM
jane@gmail.com    jane     BKT

In [55]:
# Filtering
df["address"]=="PKR" #It is just a masking
filt=df["address"]=="PKR"
df[filt]#this is filtered data frame

              name address
email
ken@gmail.com  ken     PKR

In [56]:
df.loc[filt]

              name address
email
ken@gmail.com  ken     PKR

In [57]:
filt

email
john@gmail.com     False
jane@gmail.com     False
ken@gmail.com       True
kevin@gmail.com    False
Name: address, dtype: bool

In [59]:
df.loc[filt,["address","name"]]

              address name
email
ken@gmail.com     PKR  ken

In [63]:
filt=((df["address"]=="BKT") | (df["name"]=="kevin"))
df.loc[filt]

                  name address
email
jane@gmail.com    jane     BKT
kevin@gmail.com  kevin  BUTWAL

In [64]:
df.loc[~filt] #~ refers to negate/exclude

                name address
email
john@gmail.com  john     KTM
ken@gmail.com    ken     PKR